<%- include("partials/header.ejs") %>
  <h1>Rafale Academy</h1>
  <h4>A direct route for your growth...</h4>

  <div class="btn">
    <a href="/form">
      <input type="submit" value="ENQUIRY" />
    </a>
  </div>
  <div class="btn">
    <a href="">
      <input type="submit" value="ADMISSION" />
    </a>
  </div>
  <%- include("partials/footer.ejs") %> 