<select name="course" class="feedback-input drop-down">
  <option selected disabled>Course Recommendations</option>
  <option value="one">One</option>
  <option value="two">Two</option>
  <option value="three">Three</option>
</select>

<select name="batch" class="feedback-input drop-down">
  <option selected disabled>Prefered Batch</option>
  <option value="one">One</option>
  <option value="two">Two</option>
  <option value="three">Three</option>
</select>

<select name="slot" class="feedback-input drop-down">
  <option selected disabled>Prefered Slot Time</option>
  <option value="one">One</option>
  <option value="two">Two</option>
  <option value="three">Three</option>
</select>